{
  "extends": ["react-app"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": ["error", "as-needed"],
    "no-unused-expressions": "off",
    "no-unused-vars": "error",
    "no-duplicate-imports": "error"
  }
}
